input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 16px 22px;

  font-size: 18px;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  text-align: left;

  color: $color-black;
  border: none;
  background-color: $color-lightgray;

  outline: none;
}

input[type="tel"],
input[type="email"] {
  padding-right: 80px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: 16px;

  display: block;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  background-color: $color-darkgray;
}

input[type="checkbox"]:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  display: block;
  width: 56px;
  height: 56px;

  border-radius: 50%;
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
}
