.wrapper {
  width: $screen-xs-min;
  margin: $margin-center;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  overflow: hidden;

  background-color: $color-white;

  @media (min-width: $screen-sm-min) {
    width: $screen-sm-min;
  }

  @media (min-width: $screen-lg-min) {
    width: $screen-lg-min;
  }
}
