.btn {
  position: relative;

  display: block;

  font-size: 21px;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-white;
  background-color: $color-blue;

  border: none;

  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #88b6d1;

    background-color: #5496bd;
  }

  &--blue {
    width: 270px;
    margin: $margin-center;
    padding: 16px 0;
  }

  &--icon {
    margin: auto;

    font-size: 0;

    background: transparent;
  }

  &--icon:hover {
    background-color: transparent;
  }

  &--icon:active {
    color: transparent;

    background-color: transparent;
  }

  &--search {
    width: 280px;
    margin: $margin-center;
    margin-bottom: 49px;
    padding: 16px 0;
  }

  &--fullscreen {
    width: 20px;
    height: 20px;
    margin: 23px;
  }

  &--feedback {
    width: 100%;
    margin: $margin-center;
    padding: 16px 0;
  }

  &--failure {
    width: 180px;
  }
}

@media (min-width: $screen-sm-min) {
  .btn {

    &--search {
      width: 458px;
      margin-bottom: 58px;
    }

    &--fullscreen {
      margin: auto;
    }

    &--feedback {
      width: 50%;
      margin: 0;
    }

    &--success {
      width: 100%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .btn {

    &--search {
      margin-bottom: 66px;
    }
  }
}
