@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .copyright {
    padding: 20px 0;
    font-size: 0;
    text-align: center;

    &__text {
      display: inline-block;
      margin: 0;
      padding: 0 10px;

      font-size: $font-size-base;
      line-height: 34px;
      vertical-align: middle;
    }

    &__link {
      display: inline-block;

      img {
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .copyright {
    display: inline-block;
    width: 33.3%;
    padding: 43px 0;

    &__text {
      display: inline-block;
      margin: 0;
      padding: 0 10px;

      font-size: $font-size-base;
      line-height: 34px;
      vertical-align: middle;
    }

    &__link {
      display: inline-block;

      img {
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .copyright {
    display: inline-block;
    width: 33.3%;
    padding: 43px 0;

    &__text {
      display: inline-block;
      margin: 0;
      padding: 0 10px;

      font-size: $font-size-base;
      line-height: 34px;
      vertical-align: middle;
    }

    &__link {
      display: inline-block;

      img {
        vertical-align: middle;
      }
    }
  }
}
