.feature {

  &__title {
    width: 220px;
    margin: $margin-center;
    padding-top: 56px;
    padding-bottom: 9px;

    font-size: 18px;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
  }

  &__number {
    padding-bottom: 15px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;
  }

  &__text {
    width: 260px;
    margin: $margin-center;
    padding-bottom: 40px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;
  }

  &__image-wrapper {
    margin: 0;
  }

  &__image {
    width: 100%;
    height: 260px;
  }

  &--blue {
    color: $color-white;
    background-color: $color-blue;
  }

  &--blue &__title {
    width: 240px;
  }

  &--second &__title {
    padding-top: 39px;
  }

  &--second &__text {
    padding-bottom: 39px;
  }

  &--gray {
    background-color: $color-gray;
  }

  &--gray &__title {
    padding-top: 28px;
    padding-bottom: 8px;
  }

  &--gray &__text {
    width: 280px;
    padding-bottom: 27px;

    border-bottom: 1px solid #d6d6d6;
  }

  &--gray:last-child &__text {
    border: none;
  }

  &--icon {
    position: relative;
    width: 320px;
    margin: $margin-center;

    &::before {
      content: "";

      position: absolute;
      top: 25px;
      left: 20px;

      width: 39px;
      height: 37px;

      background-size: 37px auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &--icon &__title {
    width: 230px;
    padding-bottom: 13px;
    padding-left: 50px;

    font-size: 18px;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;

    text-align: left;
  }

  &--icon &__text {
    width: 230px;
    padding-bottom: 0px;
    padding-left: 50px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;

    text-align: left;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--gift::before {
    top: 17px;
    left: 24px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
    background-size: 32px auto;
  }

  &--burger::before {
    top: 23px;
    left: 17px;

    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }

  &--house &__title {
    padding-top: 35px;
  }

  &--gift &__title {
    padding-top: 29px;
  }

  &--burger &__title {
    padding-top: 29px;
  }

  &--burger &__text {
    padding-bottom: 38px;
  }
}

@media (min-width: $screen-sm-min) {
  .feature {
    align-items: center;
    width: 33.33%;
    min-height: 256px;

    &__title {
      width: 160px;
      padding-top: 45px;
      padding-bottom: 10px;

      font-size: 21px;
    }

    &__number {
      margin: $margin-center;
      padding-bottom: 23px;
    }

    &__text {
      width: 165px;
      padding-bottom: 40px;
    }

    &__image-wrapper {
      display: block;
      justify-content: center;
      overflow: hidden;

      width: 66.66%;
      margin: 0;
    }

    &__image {
      display: block;
      height: 256px;
    }

    &--icon::before {
      left: 50%;

      vertical-align: bottom;

      background-position: 50% 100%;

      transform: translateX(-50%);
    }

    &--house::before {
      top: 58px;

      width: 75px;
      height: 73px;

      background-size: 73px auto;
    }

    &--gift::before {
      top: 57px;

      width: 64px;
      height: 76px;

      background-size: 64px auto;
    }

    &--burger::before {
      top: 60px;

      width: 77px;
      height: 70px;

      background-size: 77px auto;
    }

    &--icon &__title {
      margin: $margin-center;
      padding: 0;
      padding-top: 159px;
      padding-bottom: 21px;

      font-size: 21px;
      text-align: center;
    }

    &--icon &__text {
      width: 170px;
      margin: $margin-center;
      padding: 0;
      padding-bottom: 60px;

      text-align: center;
    }

    &--gift {
      order: 1;
    }

    &--blue &__title {
      width: 200px;
    }

    &--gray &__title {
      padding-top: 46px;
      padding-bottom: 10px;

      border: none;
    }

    &--gray &__number {
      padding-bottom: 21px;
    }

    &--gray &__text {
      width: 180px;

      border: none;
    }

    &--fourth &__text {
      width: 150px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .feature {

    &__title {
      padding-top: 52px;
    }

    &__number {
      padding-bottom: 21px;
    }

    &__text {
      width: 265px;
      padding-bottom: 40px;
    }



    &--blue &__text {
      width: 260px;
    }

    &--gray &__title {
      padding-top: 45px;
    }

    &--gray &__text {
      width: 270px;
    }

    &--icon &__title {
      width: 170px;
      margin: $margin-center;
      padding: 0;
      padding-top: 160px;
      padding-bottom: 20px;

      text-align: center;
    }

    &--icon &__text {
      width: 285px;
      padding-bottom: 82px;
    }

    &--gift &__text {
      width: 220px;
    }
  }
}
