.feature {

  &__title {
    width: 220px;
    margin: $margin-center;
    padding-top: 60px;
    padding-bottom: 14px;

    font-size: 18px;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
  }

  &__number {
    padding-bottom: 19px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;
  }

  &__text {
    width: 260px;
    margin: $margin-center;
    padding-bottom: 42px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;
  }

  &--blue {
    color: $color-white;
    background-color: $color-blue;
  }

  &--gray {
    background-color: $color-gray;

    border-bottom: 1px solid #d6d6d6;
  }

  &--gray:last-child {
    border: none;
  }

  &--gray &__title {
    padding-top: 28px;
  }

  &--gray &__text {
    padding-bottom: 28px;
  }

  &--icon {
    position: relative;
  }

  &--icon::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 10%;

    width: 35px;
    height: 45px;

    background-size: 35px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--gift::before {
    background-image: url("../img/icon-gift.svg");
  }

  &--burger::before {
    background-image: url("../img/icon-burger.svg");
  }

  &--icon &__title {
    padding-top: 37px;
    padding-bottom: 18px;
    padding-left: 30px;

    font-size: 21px;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;

    text-align: left;
  }

  &--icon &__text {
    width: 220px;
    padding-bottom: 0px;
    padding-left: 30px;

    font-size: $font-size-base;
    line-height: 21px;
    font-weight: $font-weight-normal;

    text-align: left;
  }

  &--icon:last-child &__text{
    padding-bottom: 37px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .feature {
    position: relative;

    float: left;
    width: 33.33%;
    min-height: 256px;

    &__title {
      width: 220px;
      padding-top: 40px;
      padding-bottom: 15px;

      font-size: 21px;
    }

    &__number {
      margin: $margin-center;
      padding-bottom: 25px;
    }

    &__text {
      width: 165px;
      padding-bottom: 40px;
    }

    &__text:nth-child(3) {
      width: 180px;
    }

    &--gray {
      border: none;
    }

    &--icon::before {
      top: 43px;
      left: 50%;

      width: 75px;
      height: 90px;

      vertical-align: bottom;

      background-size: 75px auto;
      background-position: 50% 100%;

      transform: translateX(-50%);
    }

    &--icon &__title {
      margin: $margin-center;
      padding: 0;
      padding-top: 161px;
      padding-bottom: 26px;

      text-align: center;
    }

    &--icon &__text {
      width: 170px;
      margin: $margin-center;
      padding: 0;
      padding-bottom: 54px;

      text-align: center;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .feature {
    position: relative;

    float: left;
    width: 33.33%;
    min-height: 256px;

    &__title {
      width: 160px;
      padding-top: 40px;
      padding-bottom: 15px;

      font-size: 21px;
    }

    &__number {
      margin: $margin-center;
      padding-bottom: 25px;
    }

    &__text {
      width: 265px;
      padding-bottom: 40px;
    }

    &--blue &__text {
      width: 260px;
    }

    &--gray {
      border: none;
    }

    &--icon::before {
      top: 43px;
      left: 50%;

      width: 75px;
      height: 90px;

      vertical-align: bottom;

      background-size: 75px auto;
      background-position: 50% 100%;

      transform: translateX(-50%);
    }

    &--icon &__title {
      margin: $margin-center;
      padding: 0;
      padding-top: 161px;
      padding-bottom: 26px;

      text-align: center;
    }

    &--icon &__text {
      margin: $margin-center;
      padding: 0;
      padding-bottom: 54px;

      text-align: center;
    }
  }
}
