.feature {
  min-height: 140px;

  &__title {
    margin: 0;
  }

  &__number {

  }

  &__text {
    margin: 0;
  }

  &--blue {
    min-height: 190px;
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--grey {
    min-height: 168px;
    background-color: #eeeeee;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .feature {
    float: left;
    width: 256px;
    min-height: 256px;

    &__title {
      margin: 0;
    }

    &__number {

    }

    &__text {
      margin: 0;

    }

    &--blue {

    }

    &--icon {

    }
  }
}

@media (min-width: $screen-lg-min) {
  .feature {
    float: left;
    width: 400px;
    min-height: 256px;

    &__title {
      margin: 0;
    }

    &__number {

    }

    &__text {
      margin: 0;

    }

    &--blue {

    }

    &--icon {

    }
  }
}

