.features {
  text-align: center;

  &__header {
    position: relative;
  }

  &__header::before,
  &__header:after {
    content: "";

    position: absolute;

    left: 0;
    z-index: 10;

    display: block;
    width: 100%;

    background-size: 50.1% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
  }

  &__header::before {
    top: -26px;

    height: 26px;

    background-image: linear-gradient(to top right,
                                      #ffffff 50%,
                                      transparent 50%),
                      linear-gradient(to top left,
                                      #ffffff 50%,
                                      transparent 50%);
  }

  &__header::after {
    bottom: -16px;

    height: 16px;

    background-image: linear-gradient(to top right,
                                      transparent 50%,
                                      #ffffff 50%),
                      linear-gradient(to top left,
                                      transparent 50%,
                                      #ffffff 50%);
  }

  &__title {
    width: 270px;
    margin: $margin-center;
    padding-top: 40px;
    padding-bottom: 26px;

    font-size: 18px;
    line-height: $line-height-base;
    font-weight: $font-weight-bold;
  }

  &__description {
    width: 270px;
    margin: $margin-center;
    padding-bottom: 26px;

    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-normal;
  }
}

@media (min-width: $screen-sm-min) {
  .features {

    &__header::after {
      display: none;
    }

    &__title {
      width: 500px;
      padding-top: 51px;
      padding-bottom: 28px;

      font-size: 21px;

      text-align: center;
    }

    &__description {
      width: 500px;
      padding-bottom: 50px;

      text-align: center;
    }

    &__row {
      display: flex;

      &--third .feature--second {
        order: 1;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .features {

    &__header::after {
      display: none;
    }

    &__title {
      padding-top: 49px;
    }

    &__description {
      padding-bottom: 50px;
    }

    &__row {
      display: flex;
      flex-direction: row;

      &:nth-of-type(3) .feature-image {
        order: -1;
      }
    }
  }
}
