.feedback-form {
  padding: 0 20px;

  &__item {
    position: relative;

    margin: 0;
    padding: 0;
    padding-bottom: 25px;

    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      border-top: 1px solid #e5e5e5;
    }
  }

  &__title {
    margin: $margin-center;
    padding-top: 20px;

    font-size: 18px;
    line-height: 26px;
    font-weight: $font-weight-bold;
  }

  &__input {
    position: relative;

    display: flex;
    align-items: center;

    margin-top: 20px;

    &--icon {
      flex-wrap: wrap;
    }
  }

  &__label {
    margin-right: 18px;

    color: $color-darkgray;

    &--icon {
      margin: 0;
      margin-bottom: 9px;
      padding-left: 22px;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 0;

        width: 58px;
        height: 58px;

        background-color: #e6e6e6;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &--phone::after {
      background-image: url("../img/icon-phone.svg");
    }

    &--email::after {
      background-image: url("../img/icon-mail.svg");
    }

    &--rating {
      padding: 15px 0;
      padding-left: 78px;

      font-size: 18px;
      line-height: $line-height-base;
      font-weight: $font-weight-bold;
      text-transform: none;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 54px;
        height: 54px;

        background-color: $color-lightgray;
        border-radius: 50%;
      }
    }

    &--checkbox {
      padding: 15px 0;
      padding-left: 78px;

      font-size: 18px;
      line-height: $line-height-base;
      font-weight: $font-weight-bold;
      text-transform: none;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 56px;
        height: 56px;

        background-color: $color-lightgray;
        border-radius: 5px;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 160px;
    margin-top: 20px;
    padding: 15px 20px;

    text-transform: none;

    background-color: $color-lightgray;
    border: none;

    box-sizing: border-box;

    resize: none;
    outline: none;
  }

  &__required {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px;
    padding-top: 39px;


    &__item {
      position: relative;

      padding: 0;
      padding-bottom: 25px;

      &::before {
        display: none;
      }

      &--rating {
        order: -1;
      }

      &--name::before {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 1px;
        height: 292px;

        background-color: #dbdbdb;
      }

      &--name,
      &--rating {
        flex-basis: 50%;
      }

      &--contacts,
      &--sights,
      &--feedback {
        flex-basis: 100%;
      }

      &--sights {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__title {
      margin: 0;

      font-size: 21px;
      text-align: center;

      &--name {
        padding-left: 60px;
      }

      &--name,
      &--rating {
        text-align: left;
      }

      &--hidden {
        display: none;
      }
    }

    &__input {

      &--name {
        padding-left: 60px;
      }

    }

    &__textarea {
      overflow: auto;
    }

    &__required {
      display: block;
      width: 50%;
      padding: 16px 0;
      margin-top: 51px;

      line-height: 26px;
      text-align: right;
      vertical-align: middle;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .feedback-form {
    padding: 0 120px;

    &__item {

      &--contacts {
        display: flex;
      }

      &--sights {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

    }

    &__title {

      &--rating {
        padding-left: 80px;
      }

      &--hidden {
        display: inline;
      }
    }

    &__label {

      &--rating {
        padding-left: 80px;
      }
    }

    &__input {

      &--icon {

      }

    }
  }
}


