.feedback-form {

  &__item {
    position: relative;

    margin: 0;
    padding: 0 20px;
    padding-bottom: 23px;

    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      border-top: 1px solid $color-steelgray;
    }
  }

  &__title {
    margin: $margin-center;
    padding-top: 19px;

    font-size: 18px;
    line-height: 26px;
    font-weight: $font-weight-bold;

    &--contacts {
      padding-bottom: 20px;
    }
  }

  &__input {
    position: relative;

    display: flex;
    align-items: center;

    margin-top: 21px;

    &--icon {
      flex-wrap: wrap;

      width: 100%;
      margin: 0;
      margin-bottom: 11px;

      text-align: left;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        top: 32px;

        width: 58px;
        height: 58px;

        background-color: $color-steelgray;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 53px;
    right: 18px;
    z-index: 1;

    &--phone {
      width: 18px;
      height: 18px;
    }

    &--mail {
      width: 20px;
      height: 16px;
    }
  }

  &__label {
    margin-right: 19px;

    color: $color-darkgray;

    &--contacts {
      margin-left: 22px;
      margin-bottom: 6px;
    }

    &--rating {
      padding: 15px 0;
      padding-left: 78px;

      font-size: 18px;
      line-height: $line-height-base;
      font-weight: $font-weight-bold;
      text-transform: none;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 54px;
        height: 54px;

        background-color: $color-lightgray;
        border-radius: 50%;
      }

      &:hover::before {
        cursor: pointer;

        background-color: $color-steelgray;
      }

      &:active::before {
        background-color: #d5d5d5;
      }
    }

    &--checkbox {
      padding: 15px 0;
      padding-left: 78px;

      font-size: 18px;
      line-height: $line-height-base;
      font-weight: $font-weight-bold;
      text-transform: none;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 56px;
        height: 56px;

        background-color: $color-lightgray;
        border-radius: 5px;
      }

      &:hover::before {
        cursor: pointer;

        background-color: $color-steelgray;
      }

      &:active::before {
        background-color: #d5d5d5;
      }
    }
  }

  &__error {
    align-self: flex-end;

    margin-top: 6px;
    margin-left: 22px;

    font-size: $font-size-base;
    line-height: $line-height-base;
    text-transform: none;

    color: $color-red;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 160px;
    margin-top: 20px;
    padding: 15px 20px;

    text-transform: none;

    background-color: $color-lightgray;
    border: none;

    box-sizing: border-box;

    resize: none;
    outline: none;
  }

  &__button {
    padding: 0 20px;
  }

  &__required {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px;
    padding-top: 39px;


    &__item {
      position: relative;

      padding: 0;
      padding-bottom: 25px;

      &::before {
        display: none;
      }

      &--rating {
        order: -1;
      }

      &--name::before {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 1px;
        height: 292px;

        background-color: #dbdbdb;
      }

      &--name,
      &--rating {
        flex-basis: 50%;
      }

      &--contacts,
      &--sights,
      &--feedback {
        flex-basis: 100%;
      }

      &--sights {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__title {
      margin: 0;

      font-size: 21px;
      text-align: center;

      &--name {
        padding-left: 60px;
      }

      &--name,
      &--rating {
        text-align: left;
      }

      &--contacts {
        padding-top: 42px;
      }

      &--hidden {
        display: none;
      }
    }

    &__input {

      &--name {
        padding-left: 60px;
      }

      &--checkbox {
        flex-basis: 50%;
      }

      &--checkbox:nth-child(1) {
        order: -4;
      }

      &--checkbox:nth-child(2) {
        order: -2;
      }

      &--checkbox:nth-child(3) {
        order: -3;
      }
    }

    &__checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__textarea {
      overflow: auto;
    }

    &__button {
      display: flex;
      justify-content: space-between;

      width: 100%;
      margin-top: 51px;
      margin-bottom: 65px;
      padding: 0;
    }

    &__required {
      display: block;
      width: 50%;
      padding: 16px 0;

      line-height: 26px;
      text-align: right;
      vertical-align: middle;
    }

    &__error {
      width: 50%;
      margin-top: 0;
      margin-bottom: 6px;

      text-align: right;

      order: 1;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .feedback-form {
    padding: 0 120px;

    &__item {

      &--contacts {
        display: flex;
      }
    }

    &__title {
      padding-bottom: 38px;

      &--name {
        padding-left: 80px;
      }

      &--rating {
        padding-left: 80px;
      }

      &--contacts {
        padding-bottom: 74px;
      }

      &--sights {
        width: 250px;
        padding-bottom: 20px;
      }

      &--feedback {
        padding-top: 42px;
      }

      &--hidden {
        display: inline;
      }
    }

    &__contacts {
      flex-wrap: nowrap;
    }

    &__label {

      &--rating {
        padding-left: 80px;

        &::before {
          left: 10px;
        }
      }

      &--hidden {
        display: none;
      }

      &--contacts {
        max-width: 100%;
        padding-left: 20px;
      }
    }

    &__input {

      &--name {
        padding-left: 80px;
      }

      &--rating {
        margin-top: 21px;
      }

      &--contacts {
        flex-basis: 50%;
      }

      &--icon {
        flex-wrap: nowrap;

        &::after {
          top: 13px;
        }
      }

      &--checkbox {
        flex-basis: 25%;
      }
    }

    &__error {
      width: 100%;
      padding-left: 87px;

      order: 1;
      text-align: left;
    }

    &__checkbox {
      justify-content: flex-start;
    }

    &__button {
      margin-top: 32px;
    }

    &__icon {
      top: 34px;
    }
  }
}
