.feedback {
  text-align: center;

  &__header {

  }

  &__title {
    margin: 0;
    padding-top: 39px;

    text-align: center;
  }

  &__description {
    width: 280px;
    margin: $margin-center;
    padding-top: 26px;
    padding-bottom: 17px;

    line-height: 24px;

    color: $color-darkgray;
  }
}

@media (min-width: $screen-sm-min) {
  .feedback {
    text-align: center;

    &__title {
      margin: 0;
      padding-top: 77px;

      font-size: 30px;
    }

    &__description {
      width: 450px;
      margin: $margin-center;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .feedback {
    text-align: center;

    &__title {
      margin: 0;
      padding-top: 111px;
    }

    &__description {
      padding-top: 31px;
      padding-bottom: 39px;
    }
  }
}
