.feedback {
  text-align: center;

  &__header {
    @include outlined(red);
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}

.feedback-form {
  @include outlined;

  &__title {
    margin: $margin-center;
  }

  &__input {

  }

  &__textarea {

  }
}
