.footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__hashtag {
    padding: 20px 0;
    padding-top: 36px;

    font-size: 21px;
    line-height: $line-height-base;
    text-transform: uppercase;
  }
}

@media (min-width: $screen-sm-min) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    margin: 0;

    &__hashtag {
      padding: 47px 0;
      margin-left: 60px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .footer {

    &__hashtag {
      margin-left: 132px;
    }
  }
}
