.header {
  position: relative;
  min-height: 216px;

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .header {
  position: relative;
    min-height: 56px;
  }
}

@media (min-width: $screen-lg-min) {
  .header {
    min-height: 56px;
  }
}
