.intro {
  width: 100%;
  min-height: 389px;

  text-align: center;

  background-color: $color-lightblue;
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__image {
    width: 280px;
    height: auto;
    margin-top: 90px;
    padding: 0 20px;

    &--photo {
      height: 159px;
    }

    &--form {
      height: 158px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .intro {
    min-height: 518px;

    background-image: url("../img/bg-back-desktop.jpg");

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &__image {
      margin-top: 77px;
      width: 462px;

      &--photo,
      &--form {
        height: 290px;
      }


    }
  }
}

@media (min-width: $screen-lg-min) {
  .intro {

    &__image {


      &--photo {
        height: 301px;
      }
    }
  }
}
