.intro {
  @include outlined(black);

  &__image {
    display: block;
    width: 100%;
    height: 157px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .intro {
    @include outlined(black);

    &__image {
      display: block;
      width: 100%;
      height: 290px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .intro {
    @include outlined(black);

    &__image {
      display: block;
      width: 100%;
      height: 300px;
    }
  }
}
