.intro {
  position: relative;

  width: 100%;
  min-height: 389px;

  text-align: center;

  background-color: $color-lightblue;
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--small {
    min-height: 157px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 26px;

    background-size: 50.1% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-image: linear-gradient(to top right,
                                      #ffffff 50%,
                                      transparent 50%),
                      linear-gradient(to top left,
                                      #ffffff 50%,
                                      transparent 50%);
  }

  &__image {
    width: 280px;
    height: auto;
    margin-top: 90px;

    &--small {
      width: 229px;
      margin-top: 51px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .intro {
    min-height: 518px;

    background-image: url("../img/bg-back-desktop.jpg");

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--small {
      min-height: 290px;
    }

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 50%;

      z-index: 1;

      display: block;
      width: 700px;
      height: 57px;

      background-size: 50.1% 100%;
      background-repeat: no-repeat;
      background-position: 0 0, 100% 0;
      background-image: linear-gradient(to top right,
                                        #ffffff 50%,
                                        transparent 50%),
                        linear-gradient(to top left,
                                        #ffffff 50%,
                                        transparent 50%);

      transform: translate(-50%);
    }

    &::after {
      height: 35px;
    }

    &__image {
      margin-top: 77px;
      width: 457px;

      &--small {
        margin-top: 95px;
      }


    }
  }
}

@media (min-width: $screen-lg-min) {
  .intro {

    &--small {
      min-height: 301px;
    }

    &::after {
      height: 57px;
    }

    &__image {
      margin-top: 79px;

      &--small {
        margin-top: 102px;
      }
    }
  }
}
