.logo {
  position: absolute;
  top: 223px;
  left: 50%;

  transform: translate(-50%, 0);

  z-index: 1;

  &__image {
    width: 102px;
    height: 84px;
  }
}

@media (min-width: $screen-sm-min) {
  .logo {
    top: 0;
  }
}

@media (min-width: $screen-lg-min) {
  .logo {

    &__image {
      width: 187px;
      height: 96px;
    }
  }
}
