.logo {
  position: absolute;
  top: 223px;
  left: 50%;

  transform: translate(-50%, 0);

  &__image {
    width: 102px;
    height: 84px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .logo {
    top: 0;
  }
}

@media (min-width: $screen-lg-min) {
  .logo {
    top: 0;
  }
}
