.menu {
  min-height: 160px;

  &__toggle {
    float: right;
  }

  &__list {
    margin: 0;
    padding: 0;

    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 100%;

    font-size: 18px;
    line-height: 40px;
    font-weight: $font-weight-bold;
    vertical-align: top;
  }

  &__link {
    display: block;

    text-align: center;
    text-decoration: none;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .menu {
    min-height: 0;
    margin: $margin-center;

    text-align: center;

    &__toggle {
      display: none;
    }

    &__item {
      margin-top: 12px;
      width: 150px;
    }

    &__link {
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .menu {
    min-height: 0;
    margin: $margin-center;

    text-align: center;

    &__toggle {
      display: none;
    }

    &__item {
      margin-top: 12px;
      width: 150px;
    }

    &__link {
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}
