.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  display: none;

  background-color: $color-white;

  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);

  transform: translate(-50%, -50%);

  &__title {
    padding-top: 5px;
    padding-bottom: 24px;
    margin: 0;

    font-size: 18px;
    line-height: $line-height-base;
    font-weight: 700;
    text-align: center;

    color: $color-black;
  }

  &__text {
    padding-bottom: 33px;
    margin: 0;

    font-size: $font-size-base;
    line-height: 24px;
    font-weight: $font-weight-normal;
    text-align: center;
  }

  &--show {
    display: block;
    animation: bounce 0.6s;
  }

  &--failure {
    display: none;
    width: 220px;
    padding: 35px 50px;
  }

  &--failure &__title {
    padding-bottom: 26px;
  }

  &--failure &__text {
    padding-bottom: 23px;
  }

  &--success {
    display: none;
    width: 280px;
    padding: 20px;
  }

  &--success &__title {
    padding-top: 25px;
    padding-bottom: 26px;
  }

  &--success &__text {
    width: 220px;
    padding-bottom: 54px;
    margin: $margin-center;
  }
}

@media (min-width: $screen-sm-min) {
  .popup {
    width: 280px;
    padding: 50px 60px;

    &__title {
      padding-bottom: 24px;
      margin: 0;

      font-size: 30px;
      line-height: 40px;
    }

    &__text {
      padding-bottom: 33px;
    }

    &--success {
      display: block;
      width: 460px;
      padding: 45px 90px;
    }

    &--success &__text {
      padding-bottom: 79px;
    }
  }
}
