.posts {
  text-align: center;

  &__header {
    @include outlined(red);
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__item {
    @include outlined;
  }

  &__image {
    margin: $margin-center;

    img {
      display: block;

      margin: $margin-center;
      @include outlined(red);
    }
  }

  &__name {
    text-align: left;

  }

  &__author {
    display: block;
    text-align: left;
  }

  &__likes {
    display: block;

    text-align: left;
  }
}
