.presentation {
  padding-bottom: 100px;

  &__header {
    width: 240px;
    margin: $margin-center;

    text-align: center;
  }

  &__title {
    margin: 0;
    padding-top: 35px;

    font-size: 18px;
    line-height: $line-height-base;
  }

  &__text {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 37px;

    font-size: $font-size-base;
    line-height: 24px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .presentation {
    padding-bottom: 40px;

    &__header {
      width: 430px;
      margin: $margin-center;
    }

    &__title {
      margin: 0;
      padding-top: 73px;

      font-size: 30px;
      line-height: $line-height-base;
    }

    &__text {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 73px;

      font-size: $font-size-base;
      line-height: 24px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .presentation {
    padding-bottom: 85px;

    &__header {
      width: 430px;
      margin: $margin-center;
    }

    &__title {
      margin: 0;
      padding-top: 73px;

      font-size: 30px;
      line-height: $line-height-base;
    }

    &__text {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 73px;

      font-size: $font-size-base;
      line-height: 24px;
    }
  }
}
