.social {

  &__btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 20px 3px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;

    color: $color-white;
    background: $color-blue;
    background-repeat: no-repeat;
    background-position: 50%;

    &--tw {
      background-image: url("../img/icon-twitter.svg");
    }

    &--fb {
      background-image: url("../img/icon-facebook.svg");
    }

    &--yt {
      background-image: url("../img/icon-youtube.svg");
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .social {
    display: inline-block;
    width: 33.3%;

    font-size: $font-size-base;
    vertical-align: middle;

    &__btn {
      margin: 36px 3px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .social {
    display: inline-block;
    width: 33.3%;

    font-size: $font-size-base;
    vertical-align: middle;

    &__btn {
      margin: 36px 3px;
    }
  }
}
