.social {
  display: flex;
  justify-content: center;

  &__btn {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 15px 3px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;

    fill: $color-white;
    background: $color-blue;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &--tw {
      width: 18px;
      height: 14px;
    }

    &--fb {
      width: 9px;
      height: 18px;
    }

    &--yt {
      width: 20px;
      height: 14px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .social {

    &__btn {
      margin: 36px 3px;
    }
  }
}
