@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  src: url(../../fonts/ptsans.woff) format("woff"),
       url(../../fonts/ptsans.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans Bold";

  src: url(../../fonts/ptsansbold.woff) format("woff"),
       url(../../fonts/ptsansbold.woff2) format("woff2");
}

body {
  font-size: $font-size-base;
  line-height: 21px;
  font-weight: $font-weight-normal;
  font-family: $font-family-base;

  background-color: #f2f2f2;
}

h1,
h2,
legend,
textarea {
  font-size: 18px;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;
  text-transform: uppercase;
}

p {
  font-size: $font-size-base;
  line-height: 21px;
  font-weight: $font-weight-normal;
  font-family: $font-family-base;
  text-transform: uppercase;
}

label {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  font-family: $font-family-base;
  text-transform: uppercase;
}

figcaption {
  font-size: $font-size-base;
  line-height: 24px;
  font-weight: $font-weight-bold;
  font-family: $font-family-base;
  text-transform: uppercase;
}

span {
  font-size: $font-size-base;
  line-height: 24px;
  font-weight: $font-weight-normal;
  font-family: $font-family-base;
  text-transform: uppercase;
}
