// Screens

$screen-xs-min: 320px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 1199px;
$screen-lg-min: 1200px;

// Typography

$font-family-base: "PT Sans", Arial, sans-serif;

$font-size-base: 14px;

$line-height-base: 26px;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Others

$margin-center: 0 auto;

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #81b3d2;
$color-lightblue: #e4f1f9;
$color-gray: #eeeeee;
$color-lightgray: #f2f2f2;
$color-steelgray: #e5e5e5;
$color-darkgray: #333333;
$color-down: #dadada;
$color-red: #ff5c5c;
