// Screens

$screen-xs-min: 320px;

// Typography

$font-family-base: "PT Sans", Helvetica, Arial, sans-serif;

$font-size-base: 14px;

$line-height-base: 26px;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Others

$margin-center: 0 auto;
